.App {
  background-color: #15233f;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.App-Todo {
  background-color:#4475d8;
  width:30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(223, 211, 211);
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
input{
  width: 17rem;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 1.2rem;
  height: 2.25em;
}
.todo{
  padding: 3px 10px;
  font-size: 1.2rem;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: fit-content;
}
button{
  border: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1rem;  
}
